.main_tags .tags_header{
    display: grid;
    gap: 2rem;
}

.main_tags_ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    list-style: none;
    margin-top: 3rem;
    gap: 1rem;
    place-content: center;
}
.main_tags .tags_header input{
    width:200px;
    padding: 0.4rem;
}

li.single_tag{
    display: grid;
    border: 1px solid rgb(180, 179, 179);
    padding: 1rem;
    gap: 1rem;
    grid-template-rows: auto 1fr;
}

li.single_tag p{
    font-size: 0.8rem;
}

li.single_tag h4{
    text-decoration: none;
    color: #39739d;
    font-size: 0.8rem;
    background-color: #e1ecf4;
    padding: 0.3rem 0.6rem;
    width: max-content;
}